{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}